@mixin propiedades ($colorFondo,$colorLetra){
    background-color: $colorFondo;
    color:$colorLetra;
   
}

.somos{
    
    width: 350px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-width: 400px;    
    border-radius: 10px;
    box-shadow: 10px 15px 25px rgba(0,0,0,0.50);
    
    
}
  

    
    .text{
        display: flex;
        text-align: center;
        justify-content: space-around;
       
    }
    
    .etiqueta{
    
        display: flex;
        font-size: 56px;    
        font-style: oblique;    
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        background: $colorFondo;
        background: $gradiente;
        border-radius: 5px;
        box-shadow: 10px 15px 25px rgba(0,0,0,0.50);
    
    }
    .btn{
        background-color:$colorBtn;
        color:white;
        border: brown;
    }
    .btnForm{
        width: 100px;
        
    }
    
    
    .main{
        .imgClientes{
            transition: all 300ms;
            
        }
        
    }
    
    .tarjeta{
                 
        border: 0;
        border-radius:  5px;
        padding: 8px 15px;
        background-color:$colorBtn;
        align-items: center;
        color:blue;
    
        
    }
    
       
        
    
    .textC{
        color: blue ;
        font-size: 20px;        
        justify-content: center;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        flex-wrap: wrap;

    }
    .parrafo{
        color:#fff ;
        font-size: 30px;
        font-variant-ligatures: discretionary-ligatures;
        justify-content: center;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        flex-wrap: wrap;
        font-style: italic;
    }
    

    .box{
      @extend .parrafo;
      @include propiedades(#1D3973,#F2F2F2);
      display: map-get($boxPropiedad , display );  
      border-radius:map-get($boxPropiedad , radio ) ;
      box-shadow: map-get($boxPropiedad , shadow );
      margin-top: 45px;
      
    }
    .rrss{
 
        justify-content: space-around;
        align-items: center;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
       
       
    }
    .imgEncabezado{
        width: 100px;
        height: auto;
        
    }
    
    
   .preloader{
    margin: auto;
    width: 350px;
    height: 30px;
    background-color: #fff;
    position: relative;
    display: flex;

   }
   .preloader:before {
    content: "";
    position: absolute;
    background: $gradiente;
    width: 0;
    height: 30px;
    animation: preloader 10s infinite;

   }
   .preloader h5 {
    margin: 0;
    color: #fff;
    line-height: 30px;
    font-size: 18px;   
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;

   }

   @keyframes preloader {
    100% {
        width: 100%;
    }
   }
   
 
   .preloader2{
    margin: auto;
    width: 350px;
    height: 30px;
    background-color: #fff;
    position: relative;
    display: flex;

   }
   .preloader2:before {
    content: "";
    position: absolute;
    background: $gradiente;
    width: 0;
    height: 30px;
    animation: preloader 3s infinite;

   }
   .preloader2 h5 {
    margin: 0;
    color: #fff;
    line-height: 30px;
    font-size: 18px;   
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;

   }

   @keyframes preloader {
    100% {
        width: 100%;
    }
   }
   .cargador{
    padding: 10px;
    margin-top: 20px;  
    margin-bottom: 20px;
   }
 .foto{
    border-radius: 5px;
    width: 300px;
    height: auto;
    display: grid;
    
 }