
.post{
    
    width: 250px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-width: 300px;
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    
   
    

    .botonSitio{
        padding: 8px;
        margin: 8px;
        border: 0;
        border-radius: 5px;
        color:rgb(245, 240, 244);
        background-color: rgb(116, 116, 228);   
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        text-decoration: none;
        
       
        
        
    }
    img,.botonSitio{
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
       
    }

}

    

