$gradiente: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(108,197,217,1) 49%, rgba(0,212,255,1) 100%);
$colorFondo: rgba(2,0,36);
$colorBtn:rgba(108,197,217,1);
$tamanio:30px;
$boxPropiedad:(
        display:flex,
        radio:5px,
        shadow:0px 25px 45px rgba(0,0,0,0.50),
    );



